.json {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 400px;
    overflow: scroll;
}

.hostBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .jsonView {
        margin-left: 40px;
    }

    .addInput {
        margin-top: 15px;
        margin-right: 5px;
        vertical-align: bottom;
    }
}

.editorBox {
    position: relative;
    margin-bottom: 25px;
    z-index: 0;
}

.deleteButton {
    position: absolute;
    margin-top: 5px;
    margin-bottom: 10px;
    right: 0px;
    z-index: 1;
}

