.content {
    padding: 20px;
    margin-top: 30px;
    display: grid;
    gap: 10px;
    padding: 10px;

}

// A columns of cards
.cardsColumn {
    grid-column: 1;
    .card {
        border-style: solid;
        border-radius: 15px;
        border-width: 2px;
        background-color: #d3eafd;
        margin-bottom: 10px;
        p {
            padding-left: 10px;
        }
    }
}

.teamsColumn {
    grid-column: 2 / span 3;
    margin-left: 50px;
    .team {
        border-style: solid;
        border-radius: 15px;
        border-width: 2px;
        background-color: #c5ffa5;
        margin-bottom: 10px;
        padding-bottom: 25px;
        p {
            padding-left: 10px;
        }
    }
}

