
body {
    margin: 0px;
}

.nav-horizontal {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
    }
    li {
        float: left;
        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #04AA6D;
        }
    }
}

.content {
    padding: 20px;
    margin-top: 30px;
    display: grid;
    gap: 10px;
    padding: 10px;

}

// A columns of cards
.cards-column {
    grid-column: 1;
    .card {
        border-style: solid;
        border-radius: 15px;
        border-width: 2px;
        background-color: #d3eafd;
        margin-bottom: 10px;
        p {
            padding-left: 10px;
        }
    }
}

.teams-column {
    grid-column: 2 / span 3;
    margin-left: 50px;
    .team {
        border-style: solid;
        border-radius: 15px;
        border-width: 2px;
        background-color: #f4665c;
        margin-bottom: 10px;
        padding-bottom: 25px;
        p {
            padding-left: 10px;
        }
    }
}
